<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header><h1>AI Career Guidance Project</h1></header>

<main>
<a href="/register">Register</a> |
<a href="/login">Login</a> |
<a href="/aptitude">Start Test</a>

<h3>Skill-Based Career Prediction</h3>

<form method="POST" action="/prediction">

    <input type="checkbox" name="skills" value="coding"> Coding<br>
    <input type="checkbox" name="skills" value="programming"> Programming<br>
    <input type="checkbox" name="skills" value="data"> Data Analysis<br>
    <input type="checkbox" name="skills" value="math"> Mathematics<br>
    <input type="checkbox" name="skills" value="business"> Business<br>
    <input type="checkbox" name="skills" value="management"> Management<br>
    <input type="checkbox" name="skills" value="design"> Design<br>
    <input type="checkbox" name="skills" value="creative"> Creativity<br>
    <input type="checkbox" name="skills" value="communication"> Communication<br>
    <input type="checkbox" name="skills" value="problem"> Problem Solving<br>

    <button type="submit">Predict Career</button>
</form>

</main>

</body>
</html>
